body {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  font-family: "Roboto", sans-serif;
background-color: black;
}
.area {
  color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}
.area h1 {
  font-size: 60px;
  word-spacing: 15px;
  line-height: 75px;
}
.area h3 {
  margin-top: -30px;
  font-size: 27px;
  font-weight: normal;
}
.search {
  width: 150%;
  background-color: none;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
}
.box {
  width: 100%;
  min-height: 65px;
}
.area h4 {
  margin-top: 10px;
  font-weight: normal;
}
.container1 {
  width: 100%;
  min-height: 460px;
  background-color: black;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}
.text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: center;
  align-content: center;
} 
